Package: dev.mineek.supporttweak
Name: supporttweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mineek
Author: Mineek
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
